{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control {{ 'is-valid' if error=='Success!!!' else 'is-invalid' }}" name="phone_number"
            id="phone_number" value="{{ phone_number }}">
        <div class="invalid-feedback">{{ error }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
</form>


<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon fa-brands fa-facebook-f"></i></a><a href="#"><i
                    class="icon fa-brands fa-instagram"></i></a><a href="#"><i
                    class="icon fa-brands fa-telegram"></i></a><a href="#"><i
                    class="icon fa-brands fa-whatsapp"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Chung Huynh Diem © 231-352</p>
    </footer>
</div>
{% endblock %}